<% content_for :head_end do %>
<style>
    #station {font-size:1.5em}
    #grade {font-size:3em; line-height:1.2em}
    #grade-label {margin-top:1.5em}
</style>
<% end %>

<p>
    <div id="time"></div>
    <span id="station"></span>
    <span id="station-label">측정소</span>
</p>
<p>
    <div id="grade-label">통합대기지수</div>
    <div id="grade"></div>
</p>

<script>
function getLocation() {
  if (!navigator.geolocation) {
    return false;
  }
  navigator.geolocation.getCurrentPosition(showPosition);
}

function showPosition(position) {
  console.log(position);
  var lat = position.coords.latitude;
  var lng = position.coords.longitude;
  //x.innerHTML = "Latitude: " + position.coords.latitude + 
  //"<br>Longitude: " + position.coords.longitude; 
  $.ajax('/?lat=' + lat + '&lng=' + lng).done(showMeasure);
}

var gradeTexts = ['좋음', '보통', '나쁨', '매우나쁨', '데이터없음'];

function getGradeText(gradeCode) {
    if (gradeCode < 1 || gradeCode > gradeTexts.length) {
        return '알수없음';
    }
    return gradeTexts[gradeCode - 1];
}

function showMeasure(response) {
  $('#grade').html(getGradeText(response['measure']['grade']));
  $('#time').html(response['measure']['time']);
  $('#station').html(response['station']['name']);
  window.response = response;
}

var stationId = <%= @user.station_id or 'null' %>;
<% if @data %>
var response = <%= raw @data.to_json %>;
<% else %>
var response = null;
<% end %>
if (response != null) {
  showMeasure(response);
}

getLocation();
</script>

