<div id="near_station_confirm">
  가까운 측정소 보기 - <span id="near_station_name"></span>
  <button class="close-text">X</button>
</div>
<div id="action_bar">
    <div class="buttons">
        <button id="refresh">새로고침</button>
    </div>
    <h1>현위치 대기상태</h1>
    <div style="clear: both;"></div>
</div>

<div id="loading_page" class="page">
  <div class="message">현위치 확인 중..</div>
</div>

<div id="location_allow_page" class="page">
  <h3>현위치 허용 필요</h3>
  <button>현위치 확인하기</button>
</div>

<div id="content_page" class="page">
  <div>
      <div id="grade-label">통합대기지수</div>
      <div id="grade"></div>
  </div>
  <h3 class="station"><span id="station"></span> 측정소 / <span id="time"></span></h3>

  <div id="day_forecasts">
      <h4>'<span id="province"></span>' 예보 <span id="forecast_time"/></h4>
      <div class="day today" grade="">
          <label>오늘</label>
          <div class="grade"></div>
      </div>
      <div class="day tomorrow" grade="">
          <label>내일</label>
          <div class="grade"></div>
      </div>
  </div>
  <div id="forecasts">
    <div>
        <label>오늘 예보</label>
        <p id="today_grade"></p>
    </div>
    <div>
        <label>내일 예보</label>
        <p id="tomorrow_grade"></p>
    </div>
  </div>
</div>

<% content_for :head_end do %>
<script>
<% if @data %>
var stationId = '<%= @data[:station_id] %>';
var response = <%= raw @data.to_json %>;
<% else %>
var stationId = null;
var response = null;
<% end %>
</script>
<% end %>
