// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$medium-font-size: 24px;
$large-font-size: 48px;
$so-bad-color: #F44336;
$bad-color: #FF9800;
$good-color: #2196F3;
$not-bad-color: #4CAF50;
$edge: 16px;
$action-bar-height: 56px;
$line-height: 48px;

body.home.index {
  font-size: 16px;
  line-height: 24px;

  #action_bar {
    padding: 0; margin:0;
    height: $action-bar-height;
    color: white;
    background: #1B5E20;
    .buttons {
      height: 100%;
      display: inline-block;
      display: none; // 임시로 가림
      float:right;line-height:$action-bar-height; padding:0;
      button {
        background: transparent;
        border: 0;
        padding: 0 $edge;
        height: 100%;
        margin: 0;
      }
    }

    h1 {
      font-size: $medium-font-size;
      line-height: $action-bar-height;
      height:100%;
      margin:0;
      padding: 0 $edge;
      font-weight: normal;
    }
  }

  #grade-label {
    padding: 8px $edge;
    color: white;
  }

  #grade {
    font-size: $large-font-size;
    line-height: 56px;
    padding: 24px 48px;
    background-repeat: no-repeat;
    background-position: $edge center;
    text-indent: $edge+10px;
    color: white;
  }
  h3 {
    line-height: 56px;
    margin: 0;
    padding: 0 $edge;
    font-size: $medium-font-size;
    background: #EEEEEE;
  }
  #near_station_confirm {
    background: yellow;
    line-height: 40px;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    text-indent: $edge;
    .close-text {
      position: absolute;
      right: 0;
      padding: 0 $edge;
      border: 0;
      background: transparent;
    }
  }

  #forecasts {
    border-top: 1px solid #E0E0E0;
    padding: $edge;
    font-size: 16px;
    p {
      margin:0 0 $edge 0;
      font-size: 16px;
      line-height: 24px;
    }
  }
  div#day_forecasts {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #E0E0E0;
    h4 {
      padding: 0 $edge;
      margin: 24px 0 0 0;
      font-size: 16px;
      line-height: 40px;
      background: #EEEEEE;
      #forecast_time {
        font-weight: normal;
        color: #9E9E9E;
        font-size: 16px;
      }
    }
    >div.day {
      color: white;
      float: left;
      width: 50%;
      padding: 8px $edge;
      font-size: 16px;
      line-height: 16px;
      label {
        text-indent: 40px;
      }
      background-repeat: no-repeat;
      background-position: $edge center;
      background-color: #9E9E9E;
      background-image: url('/images/ic_help_24px.svg');
      .grade {
        text-indent: 40px;
      }
    }
    >div.day[grade="1"] {
      background-color: $good-color;
      background-image: url('/images/ic_tag_faces_24px.svg');
    }
    >div.day[grade="2"] {
      background-color: $not-bad-color;
      background-image: url('/images/ic_tag_faces_24px.svg');
    }
    >div.day[grade="3"] {
      background-color: $bad-color;
      background-image: url('/images/ic_report_24px.svg');
    }
    >div.day[grade="4"] {
      background-color: $so-bad-color;
      background-image: url('/images/ic_warning_24px.svg');
    }
  }

  div.page {
    display: none;
  }
  #loading_page {
    .message {
      font-size: $medium-font-size;
      text-align: center;
      margin: 64px 0;
    }
  }
  #location_allow_page {
    text-align: center;
    button {
      font-size: 32px;
      margin: 64px auto;
    }
  }
}

body.home.index {
  #action_bar {
    background: #212121;
  }
  #grade-label {
    background: #616161;
  }
  #grade {
    background-color: #9E9E9E;
    background-image: url('/images/ic_help_48px.svg');
  }
}
body.home.index[grade="1"] {
  #action_bar {
    background: #0D47A1;
  }
  #grade-label {
    background: #1976D2;
  }
  #grade {
    background-color: $good-color;
    background-image: url('/images/ic_tag_faces_48px.svg');
  }
}
body.home.index[grade="2"] {
  #action_bar {
    background: #1B5E20;
  }
  #grade-label {
    background: #388E3C;
  }
  #grade {
    background-color: $not-bad-color;
    background-image: url('/images/ic_tag_faces_48px.svg');
  }
}
body.home.index[grade="3"] {
  #action_bar {
    background: #E65100;
  }
  #grade-label {
    background: #F57C00;
  }
  #grade {
    background-color: $bad-color;
    background-image: url('/images/ic_report_48px.svg');
  }
}
body.home.index[grade="4"] {
  #action_bar {
    background: #B71C1C;
  }
  #grade-label {
    background: #D32F2F;
  }
  #grade {
    background-color: $so-bad-color;
    background-image: url('/images/ic_warning_48px.svg');
  }
}
